{% extends 'base.html' %}

{% block title %}
Регистрация :: {{ block.super }}
{% endblock %}

{% block sidebar %}
	{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
	<h1>Регистрация</h1>
	<form method="post" >
		{% csrf_token %}

		<!--{{ form.as_p}}-->

		{% for f in form %}
			<p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
			<div class="form-error">{{ f.errors }}</div>
		{% endfor %}

		<button type="submit" class="btn btn-primary btn-block">Регистрация</button>

	</form>
	
{% endblock %}
